.landing-page{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-red);
    gap: 32px;
    background-color: var(--color-grey-4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.landing-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cta{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.nu-kenzie-logo{
    width: 122px;
    height: 19px;
}

.landing-title{
    color: var(--color-grey-1);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 48px;
}

.landing-figure{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.landing-figure img{
    width: 100%;
}

@media (min-width: 580px) {
    .landing-content{
        flex-direction: row;
        gap: 1.875rem;
    }

    .cta{
        width: 40%;
    }

    .cta > button{
        max-width: 200px;
    }

    .landing-figure{
        width: 60%;
    }
}