.filter-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 50px;
    text-align: left;
}

.filters{
    display: flex;
    gap: 1.25rem;
}

@media (min-width: 860px){
    .filter-div{
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
}