.main-content{
    margin-top: 150px !important;
}

.transactions-section{
    width: 100%;
    height: 100px;
}

.transactions-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
    padding-bottom: 50px;
}

@media (min-width: 825px) {
    .main-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .transactions-section{
        width: 60%;
        margin-left: 20px;
    }
}