.transaction{
    border-radius: 8px;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-1);
    justify-content: center;
    box-sizing: border-box;
}

.transaction-div{
    display: flex;
    justify-content: space-between;
}

.transaction-div >div{
    display: flex;
    align-items: center;
    gap: 50px;
}

.entry{
    border-left: 5px solid var(--color-secundary);
}

.debit{
    border-left: 5px solid var(--color-grey-2);
}

.delete-btn{
    border: none;
    background-color: var(--color-grey-2);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-btn img{
    pointer-events: none;
}

.delete-btn:hover{
    filter: brightness(0.9);
}

.transaction-desc{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 30px;
    color: var(--color-grey-4);
}

.transaction-value{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-grey-4);
}

.transaction-type{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 22px;

    color: var(--color-grey-3);
}