.transaction{
    border-radius: 8px;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-grey-1);
    justify-content: center;
    box-sizing: border-box;
}

.transaction-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-div >div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.entry{
    border-left: 5px solid var(--color-secundary);
}

.debit{
    border-left: 5px solid var(--color-grey-2);
}